API_ID=39020336
API_HASH=b6b6742ac6ad6936dfc88caeac95b7a4
BOT_TOKEN=8633731398:AAH8VvmJKgLIA3Gs5841M6HaF0bsMI49Dw4
ADMIN_ID=5953067512
LOG_CHANNEL_ID=-1004415740655
LOG_CHANNEL_ID_2=-1004493118487
CHECK_CHANNELS=https://t.me/tubi_bots
JOIN_URLS=https://t.me/tubi_holders
TERMS_URL=https://t.me/fileshare2bot?start=BQADAQADYA0AAqvMUUX0huqH2WFfiRYE
CWALLET_QR=https://yukiapi.site/file/X2FImfAD
CWALLET_ID=88177521
UPI_MID=sitrabanchutia@fam
UPI_ID=
SMM_SERVER_1_KEY=
SMM_SERVER_2_KEY=
USE_PREMIUM_EMOJIS=1
